<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1>Daneel Nichol</h1>
    <p>As a third year Statistical Science Student, I have no clue what to write. I guess I could write about my hobbies which include bullet journalling, watching travel vlogs on Youtube and cooking. Or, maybe I could mention that I have no idea what I want to do in the future, but I know it includes Data Science. Yeah, I guess that summarizes this 24 year old Stats major</p>
</body>